# Stripe Credentials
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Email Service (Resend)
RESEND_API_KEY=

# Base URL for redirects and local testing
BASE_URL=https://ais-dev-qwvslov4ra4azyhuzqhy7p-225093832787.europe-west3.run.app

# Database
# For SQLite, it will create a 'database.sqlite' file locally
DATABASE_PATH=database.sqlite
